body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  width: 400px;
  margin: auto;
  padding-top: 60px;
}

.box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

li {
  background: #1e293b;
  padding: 10px;
  margin-top: 8px;
  border-radius: 6px;
}